.Title{
	position: absolute;
	top: 20px;
	left: 20px;
	background: rgba(0,0,0,.4);
	color:lightgray;
	padding: 10px 20px;
	border-radius: 20px 0px;
}
.Title h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	background: linear-gradient(330deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 50%, rgba(255,53,127,1) 75%, rgba(255,53,127,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}